.p-left-10{padding-left:10px !important;}
.p-right-10{padding-right:10px !important;}
.p-left-0{padding-left:0px !important;}
.p-right-0{padding-right:0px !important;}
.p-left-5{padding-left:5px !important;}
.p-right-5{padding-right:5px !important;}
.p-0{padding:0px !important;}
.m-left-10{margin-left:10px !important;}
.m-left-20{margin-left:20px !important;}
.m-left-15{margin-left:15px !important;}
.m-left-0{margin-left:0px !important;}
.m-right-10{margin-right:10px !important;}
.m-right-20{margin-right:20px !important;}
.m-right-30{margin-right:30px !important;}
.m-right-0{margin-right:0px !important;}
.m-left-5{margin-left:5px !important;}
.m-right-5{margin-right:5px !important;}
.underline{text-decoration: underline !important;}
.m-bottom-10{margin-bottom:10px !important;}
.m-top-0{margin-top:0px !important;}
.m-top-3{margin-top:3px !important;}
.m-top-10{margin-top:10px !important;}
.m-top-100{margin-top:100px !important;}
.m-top-75{margin-top:75px !important;}
.m-top-50{margin-top:50px !important;}
.m-bottom-20{margin-bottom:20px !important;}
.m-bottom-0{margin-bottom:0px !important;}
.m-top-20{margin-top:20px !important;}
.p-bottom-10{padding-bottom:10px !important;}
.p-top-10{padding-top:10px !important;}
.p-bottom-20{padding-bottom:20px !important;}
.p-top-20{padding-top:20px !important;}
.p-5{padding:5px !important;}
.p-10{padding:10px !important;}
.p-15{padding:15px !important;}
.p-20{padding:20px !important;}
.p-25{padding:25px !important;}
.m-5{margin:5px !important;}
.m-10{margin:10px !important;}
.m-20{margin:20px !important;}
.m-25{margin:25px !important;}
.m-50{margin:50px !important;}
.fs-25{font-size:25px !important;}
.fs-20{font-size:20px !important;}
.fs-18{font-size:18px !important;}
.fs-15{font-size:15px !important;}
.fs-12{font-size:12px !important;}
.fs-11{font-size:11px !important;}
.fs-10{font-size:10px !important;}
.hidden{display:none !important;}
.visible{display:block !important;}
.center{text-align:center !important;}
.t-left{text-align:left !important;}
.t-right{text-align:right !important;}
.bold{font-weight:bold !important;}
.v-middle{vertical-align: middle !important;}
.ds-inline{display:inline !important;}
.ds-in-block{display:inline-block !important;}
.c-pointer{cursor:pointer !important;}


.mx-h-10{max-height:10px !important;}
.mx-h-15{max-height:15px !important;}
.mx-h-20{max-height:20px !important;}
.mx-h-30{max-height:30px !important;}
.mx-h-40{max-height:40px !important;}
.mx-h-50{max-height:50px !important;}

.mn-h-10{min-height:10px !important;}
.mn-h-20{min-height:20px !important;}
.mn-h-30{min-height:30px !important;}
.mn-h-40{min-height:40px !important;}
.mn-h-50{min-height:50px !important;}
.mn-h-100{min-height:100px !important;}
.mn-h-150{min-height:150px !important;}
.mn-h-200{min-height:200px !important;}

.mx-w-10{max-width:10px !important;}
.mx-w-15{max-width:15px !important;}
.mx-w-20{max-width:20px !important;}
.mx-w-30{max-width:30px !important;}
.mx-w-40{max-width:40px !important;}
.mx-w-50{max-width:50px !important;}
.mx-w-100{max-width:100px !important;}
.mx-w-150{max-width:150px !important;}
.mx-w-200{max-width:200px !important;}

.mn-w-10{min-width:10px !important;}
.mn-w-20{min-width:20px !important;}
.mn-w-30{min-width:30px !important;}
.mn-w-40{min-width:40px !important;}
.mn-w-50{min-width:50px !important;}
.mn-w-100{min-width:100px !important;}
.mn-w-150{min-width:150px !important;}
.mn-w-200{min-width:200px !important;}

.h-100{height:100% !important;}
.w-100{width:100% !important;}
.w-90{width:90% !important;}


.clr-white{color:white !important;}
.clr-black{color:black !important;}