@font-face {
    font-family: 'mrglovani';
    src:url('../fonts/bpg_mrgvlovani_2010.ttf');
}
@font-face {
    font-family: 'mrglovanicaps';
    src: url('../fonts/bpg_mrgvlovani_caps_2010.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hotels';
    src: url('../fonts/hotels.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'russian';
    src: url('../fonts/MachineC.otf');
    font-weight: normal;
    font-style: normal;
}



.main-navbar{
    margin-bottom:0px;
    min-height:150px;
}
.main-navbar .container-fluid{
    min-height:150px;
    padding: 0px;
}

.main-navbar #navbar-content{
    min-height: 150px;
    padding: 0px;
}

#navbar-content .menu-top-block{
    height: 175px;   
}

#navbar-content .navbar-left-block{
    display: inline-block;
    text-align: center;
}
#navbar-content .navbar-left-block .logo-block{
    height: 175px;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 300px;
    margin-left: 50px !important;
    width: 275px;
    background-image: url(../res/lightning-logo.png);
}

#navbar-content .navbar-right-block{
    display: inline-block;
    width: calc(100% - 360px);
    vertical-align: top;
    text-align: right;
}
#navbar-content .navbar-right-block .search-button{
    background-color: #00bcd4 !important;
    color:white;
}


#navbar-content .navbar-right-block .top-right-navbar{
    float:right; 
    display:inline-block;
}
#navbar-content .navbar-right-block .top-right-navbar li{
    float: left;
}
#navbar-content .navbar-right-block .top-right-navbar a{
    font-size:11px !important;
    padding: 5px 10px !important;
    margin:0px 2px !important;
}









#navbar-content .menu-bottom-block{
    width: 100%;
    height: 50px;
    text-align: center;
    width: 100%;
    background-color: #00bcd4;
}
#navbar-content .menu-bottom-block .bottom-navbar-block{
    display: inline-block;
    float: none;
    font-size: 16px;
    height: 100%;
   

}
#navbar-content .menu-bottom-block .bottom-navbar-block li{
    vertical-align: middle;
    height: 100%;

}
#navbar-content .menu-bottom-block .bottom-navbar-block li a{
    margin: 0px;
    height: 100%;
    line-height: 30px;
    color: white;
    vertical-align: middle;
    border-radius: 0px !important;
    padding:10px 30px !important;
    border-top:2px solid #00bcd4; 
}
#navbar-content .menu-bottom-block .bottom-navbar-block li a:hover{
    color:#489bb4 !important;
    background-color: #fff !important;
}





.lt-btn-small{
    padding: 4px 8px !important;
    margin:0px 5px;
    font-family: mrglovanicaps;
    transition: 0.5s !important;
}
.lt-btn-small:hover{
    background-color: #fed51f !important;
    color:white !important;
}

.lt-btn-main{
    padding: 10px 15px !important;
    border-radius: 6px !important;
    margin:0px 5px;
    font-family: mrglovanicaps;
    transition: 0.5s !important;
}
/*#489bb4*/
.lt-btn-main:hover{
    background-color: #fed51f !important;
    color:white !important;
}

.heading-small{
    font-size:15px;
    border-bottom:2px solid #fed51f;
    width:100%;
    padding-bottom:10px;
    margin-bottom:10px;
    margin-top:10px;
    font-family: mrglovanicaps;
}










.partners-block .partners-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.partners-block .partners-list li {
    float: left;
    margin: 0 15px 20px 15px;
    height: 80px;
    display: table;
}
.partners-block .partners-list li a {
    display: table-cell;
    vertical-align: middle;
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: .5;
}

#footer{
    width:100%;
    min-height:240px;
    padding-bottom:15px;
    background: #2F343B;
    color:white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

#footer .footer-socials{
    margin-top:10px;    
}
#footer .footer-socials i {
    margin-right:15px;
    color: #242424;
    cursor: pointer;
}
#footer .footer-socials i:hover{
    color:#fed51f;
    transition: 0.3s;
}
#footer .footer-phone{
    margin-top:20px;
}
#footer .footer-list{

}
#footer .footer-list a{
    color:white;
    margin-bottom:2px;
    padding-bottom:2px;
    display: block;
    cursor: pointer;
}
#footer .footer-list a:hover{
    border-right:1px solid #fed51f;
    text-decoration: none;
    transition: none;
}
#footer .footer-list a:last-child{
    border:none;
}

#footer #footer-contact input,textarea{
    font-family: mrglovanicaps;
    font-size:11px;
}






.left-menu{

}
.left-menu .categories-list{

}
.left-menu .categories-list .list-group{

}
.left-menu .categories-list .list-group .list-group-item{
    border-radius: 0px;
    padding:7px;
    cursor: pointer;
    border-left:0px; 
    border-right:0px;
}
.left-menu .categories-list .list-group .list-group-item.active-cat{
    background-color: #f9f9f9;
    color:white;
    color:#666666 !important;
}
.left-menu .categories-list .list-group .list-group-item:first-child{
    border-top:0px;
}
.left-menu .categories-list .list-group .list-group-item .list-group{
    font-size:11px;
    background-color: #fff !important;
    margin:0px;
    padding-left:15px;
}
.left-menu .categories-list .list-group .list-group-item .list-group .list-group-item{
    border-bottom: 0px !important;
    border-top: 0px !important;
}
.left-menu .categories-list .list-group .list-group-item .list-group .list-group-item:hover{
    background-color: #f9f9f9;
}
.left-menu .categories-list .list-group .list-group-item .list-group .list-group-item i{
    font-size:0.75em;
    margin-right:10px;
}

.pr-list{
    margin-top:50px;
}
.pr-list .pr-item{
    cursor: pointer;
    position: relative;
    margin-bottom:10px;
    padding-left:0px;
    padding-right:0px;
    border-bottom:1px solid #f9f9f9;
    padding-bottom:10px;
    margin-top:10px;
}
.pr-list .pr-item .img-block{
    height:200px;
    padding:0px 10px;
    overflow: hidden;
}
.pr-list .pr-item .img-block img{
    width: 100%;
    height: auto;
}
.pr-list .pr-item .info-block{
    padding:0px 10px;
}
.pr-list .pr-item .info-block .pr-code{
    font-size:14px;
}
.pr-list .pr-item:hover{
    border-radius: 0px;
}
.pr-list .pr-item .hover-block{
    width:calc(100% - 20px);
    height:100%;
    margin-left:10px;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.6);
}
.pr-list .pr-item .hover-block .hover-info-item{
    color:white;
    margin-left:10px;
    margin-top:10px;
    font-size:11px;

}
.pr-list .pr-item .hover-block .hover-info-item .info-key{
    font-family: mrglovanicaps;
    width:120px;
    display: inline-block;
    margin-right:5px;
    padding-right:5px;
}
.pr-list .pr-item .hover-block .pr-actions{
    position: absolute;
    bottom:10px;
    z-index: 100;
}



.cat-list{
    margin-top:50px;
}
.cat-list .cat-item{
    cursor: pointer;
    position: relative;
    margin-bottom:10px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:10px;
    margin-top:10px;
}
.cat-list .cat-item:hover{
    background-color: #f9f9f9;
}
.cat-list .cat-item .img-block{
    height:200px;
    padding:0px 10px;
    overflow: hidden;
}
.cat-list .cat-item .img-block img{
    width: 100%;
    height: auto;
}
.cat-list .cat-item .info-block .cat-title{
    font-family: mrglovanicaps;
    font-size:18px;
    font-weight:bold; 
    margin-top:10px;
}
.cat-list .cat-item:hover .cat-title{
    color:#fed51f;
}

.pr-detail{
    margin-top:20px;
}

.pr-detail .left-block{
    
}

.pr-detail .left-block .thumbs-block{
    border-right:2px solid #f9f9f9;
}
.pr-detail .left-block .thumbs-block .thumb-item{
    overflow: hidden;
    cursor: pointer;
    width:100%;
    height:90px;
    margin-bottom:15px;
}
.pr-detail .left-block .thumbs-block .thumb-item img{
    width:100%;
    height: auto;
}

.pr-detail .left-block .large-block{
    height:auto;
    overflow:hidden;
    position: relative;
    max-height: 350px;
}
.pr-detail .left-block .large-block img{
    width:100%;
    height: auto;
}

.pr-detail .center-block .center-block-content{
    padding: 15px;
    background-color: #f9f9f9;
}


.pr-detail .center-block .info-block{
    padding: 15px;
    background-color: #f9f9f9;
}
.pr-detail .center-block .info-block .info-item{
    padding:0px 15px;
}
.pr-detail .center-block .info-block .info-item .info-key{
    min-width:175px;
    display: inline-block;
    font-family: mrglovanicaps;
}

.pr-detail .right-block{
    font-family: mrglovanicaps;
    display: inline-block;
    font-size:10px 
}


.navigation-breadcrumps li a{
    color:black;
    font-family: mrglovanicaps;
}
.navigation-breadcrumps li.active{
    /*color:#f9f9f9;*/
    font-family: mrglovanicaps !important;
}


/**************************MAIN SLIDER********************************/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    min-height: 300px;
    max-height:400px;
}
.fade-carousel .carousel-inner .item {
    min-height: 300px;
    max-height:400px;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}